<div style="margin-top: 7%;">
  <div class="container">
    <div class="row">


    </div>

    <div class="row">
      <div class="col-3">
        <div class="box-select"
          style="box-shadow:rgba(130, 130, 130, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
          <div class="select-font" style="margin-left: 20px;padding-top:10px">

            <h3 class="mt-3">Set Mẫu </h3>
            <input type="checkbox" class="checkboxNam" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1">Thời Trang Nam</label><br>
            <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
            <label for="vehicle2"> Thời Trang Nữ</label><br>
            <br>
            <hr style="width:70%">
            <h3>Bộ Lọc Tìm Kiếm</h3>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1">Áo</label><br>
            <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
            <label for="vehicle2"> Quần</label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
            <label for="vehicle3"> Giày</label><br>
            <input type="checkbox" id="vehicle4" name="vehicle4" value="Boat">
            <label for="vehicle4"> Phụ Kiện</label><br><br>
          </div>
        </div>

      </div>
      <div class="col-9" style="box-shadow:rgba(130, 130, 130, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
        <div class="row">
          {{#each clothes}}
          <div class="col-sm-2 col-lg-3 mt-2">
            <div class="card card-item-display">
              <a href="/{{this.slug}}">
                <img src="{{this.image}}" class="img-fluid" class="card-img-top" alt="...">
                <div class="card-body">
                  <h6 class="card-title">{{this.title}}</h6>
              </a>
              <p class="card-text">{{this.price}} VND</p>
              <a href="/{{this.slug}}" class="btn btn-mua" style="background-color: rgb(199, 59, 57); color:white !important">Buy</a>
              <a href="/cart/{{this.slug}}" class="btn btn-mua" style="background-color: rgb(162, 160, 160); color:white !important">Add Cart <i class="fa fa-shopping-cart"></i></a>
            </div>
          </div>
        </div>
        {{/each}}
        <div class="row">
          <ul class="pagination">
            <li class="paination-item">
              <a href="" class="pagination-item_link">
                <i class="pagination-item_link_icon fas fa-angle-left"></i>
              </a>
            </li>

            <li class="paination-item">
              <a href="?page=1" class="pagination-item_link pagination-item--active" onclick="loadPage(1)">1</a>
            </li>
            <li class="paination-item">
              <a href="?page=2" class="pagination-item_link" onclick= "loadPage(2)" >2</a>
            </li>
            <li class="paination-item">
              <a href="?page=3" class="pagination-item_link">3</a>
            </li>
            <li class="paination-item">
              <a href="?page=4" class="pagination-item_link">4</a>
            </li>
            <li class="paination-item">
              <a href="?page=5" class="pagination-item_link">5</a>
            </li>

            <li class="paination-item">
              <a href="" class="pagination-item_link">
                <i class="pagination-item_link_icon fas fa-angle-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<script>
  function loadPage(page){
    $.ajax({
      url:'/Clothes?page='+page,
      type: 'GET'
    })
    .then(data=>{
      
    })
    .catch(err=>{
      res.status(400);
      alert('qweqweqwe')
    })
  }
  document.addEventListener("DOMContentLoaded", function () {
    var checkboxNam = document.getElementById('vehicle1');
    var checkboxNu = document.getElementById('vehicle2');

    checkboxNam.onclick = function () {
      if (checkboxNam.checked) {

        window.location.href = "http://localhost:4000/Clothes/Nam";

      }
    }
    checkboxNu.onclick = function () {
      if (checkboxNu.checked) {
        window.location.href = "http://localhost:4000/Clothes/Nu";
      }
    }
})
</script>