<div style="margin-top: 7%;">
    <div class="container">
        <div class="detail-slug">
            <div class="row">
                <div class="col-5">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <style>
                                .carousel-item img {
                                    border: 15px solid rgb(215, 215, 215);
                                }
                            </style>
                            <div class="carousel-item active">

                                <img src="{{clothes.image}}" class="img-fluid" class="d-block w-100" alt="...">
                                <div class="sale">{{this.sale}}</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                        slickAdd
                </div>
                <div class="col-6">
                    <center>
                        <h3>Thông tin Sản phẩm</h3>
                        <hr style="width:50%; margin-bottom:5%">
                    </center>
                    <div class="row">
                        <div class="col-6">
                            <h5>
                                {{clothes.title}}
                                <div>Màu: {{clothes.color}}</div>
                                <div>Size: M Xl XXl</div>
                                <div class="price">Giá Gốc: {{clothes.price}} VND</div>
                                <div class="discount"></div>
                                <p style="margin-top:200px">
                                <button class="buy-detail">Mua</button>
                                <button class="add-cart">Thêm <i class="fas fa-shopping-cart"></i></button>
                                </p>
                            </h5>
                        </div>
                        <div class="col-1">
                            <hr style="height:100%;width:1px">
                        </div>
                        <div class="col-5"> 
                            <h5>
                            <center>
                                Mô Tả 
                            </center>
                            {{clothes.description}}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        var price = document.querySelector('.price');
        var discount = document.querySelector('.discount');
        var tmp = {{clothes.sale}};
        
         if(tmp < 0){
            $('.discount').addClass('discount-sale')
        }
        else {
            var s = {{clothes.price}}-{{clothes.price}}*({{clothes.sale}}/100);
            $('.price').addClass('price-del')
            discount.innerText= "Giá khuyến mãi: " + s +".000 VND";
        }
    }) 
</script>