<div style="margin-top: 7%;">
    <div class="container">
        <div class="detail-slug">
            <div class="row">
                <div class="col-5">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <style>
                                .carousel-item img {
                                    border: 15px solid rgb(215, 215, 215);
                                }
                            </style>
                            <div class="carousel-item active">
                                
                                <img src="{{clothes.image}}" class="img-fluid" class="d-block w-100" alt="...">
                                <div class="sale">{{this.sale}}</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h4>Mô tả: </h4>{{clothes.description}}
                </div>
                <div class="col-6">
                    <center>
                        <h3>Thông tin Sản phẩm</h3>
                        <hr style="width:50%; margin-bottom:5%">
                    </center>
                    <h2>
                        {{clothes.title}}
                        <div>Màu: {{clothes.color}}</div>
                        <div>Size: M Xl XXl</div>
                        <div class="price" >Giá: {{clothes.price}}</div>                      
                        <div class="discount" ></div>                        
                        <button class="add-cart">Thêm vào giỏ hàng</button>
                        <button class="buy-detail">Mua</button>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        var price = document.querySelector('.price');
        var discount = document.querySelector('.discount');
        var tmp = {{clothes.sale}};
        
         if(tmp < 0){
            $('.discount').addClass('discount-sale')
        }
        else {
            var s = {{clothes.price}}-{{clothes.price}}*({{clothes.sale}}/100);
            $('.price').addClass('price-del')
            discount.innerText= "Giá gốc: " + s +".000";
        }
    }) 
</script>